.page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: #000000;

  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__links {
  display: flex;
  column-gap: 20px;

  margin: 8px 0 0;

  padding: 0;

  list-style-type: none;
}

.nav__link {
  color: #000000;

  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  max-width: 635px;

  margin-top: 128px;

  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
}

.header__description {
  max-width: 515px;

  font-size: 20px;
  line-height: 30px;

  margin-top: 32px;
}

.header__image {
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.staff {
  background: no-repeat center url("../images/staff_picks_background.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 100px 0 140px;

  border-radius: 6px;
}
.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  margin: 0 0 24px;
  color: #ffffff;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

.staff__cards {
  max-width: 760px;
  margin: 68px auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  padding-left: 0;

  margin-bottom: 0;

  list-style-type: none;
}

.card {
  background-color: #fff;

  width: 360px;
  height: 420px;

  display: flex;

  border-radius: 6px;

  padding: 32px 40px 20px 32px;

  box-sizing: border-box;
}

.card__content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;

  flex: 1;

  line-height: 24px;
}

.card__footer {
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  font-size: 14px;
  line-height: 20px;
  color: #838383;
}

.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  top: -30px;
  left: 319px;
}

.person_name_burbidge {
  right: 125px;
  top: 96px;
}

.person_name_cannon {
  flex-direction: column-reverse;

  right: 216px;
  bottom: 18px;
}

.person_name_mitchell {
  flex-direction: column-reverse;

  left: 142px;
  bottom: 82px;
}

.person_name_tarter {
  left: 159px;
  top: 79px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.membership {
  padding: 100px 0 140px;
  background-color: #057bf2;
  color: #ffffff;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0;

  display: flex;
  justify-content: center;
  gap: 40px;
}

.step {
  flex-basis: 220px;
}

.step__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.step__icon {
  margin-left: 20px;
}

.step__description {
  margin: 10px 0 0;
}

.footer {
  background-color: #1f1f1f ;

  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 20px;

  box-sizing: border-box;
  padding: 60px 80px;
}

.footer__columns {
  display: flex;
}

.footer__column{
  height: 80px;
}

.footer__column_content_logo {
  flex: 1;
}

.footer__column_content_hours {
  margin-right: 80px;

}

.footer__column_content_social {

}

.footer__logo {
  flex: 1;
  width: 58px;
}

.footer__column-heading {
  color: white;

  margin: 0;
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item p{
  margin: 0;
}

.footer__list-item {
  display: flex;

  font-size: 16px;
  line-height: 20px;
  color: white;
}

.footer__column-link {
  display: flex;
  align-items: center;
  margin-right: 10px;

  color: white;
  text-decoration: none;

}

.footer__social-icon {
  width: 16px;
}

.footer__copyright {
  font-size: 16px;

  margin-top: 100px;
  color: white;
}
